<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>GoRent | Home</title>
</head>

<body>

  <!-- topbar start -->
    <%- include('./partials/topbar') %>
  <!-- topbar end -->
  <div class="container">
    <!-- Terlaris Section start -->
    <div class="mb-4 mt-4 d-md-flex terlaris-section">
      <h2 class="section-title d-md-none">Terlaris</h2>
      <div class="terlaris-title d-none d-md-flex mb-5 align-items-center rounded-4">
          <h2 class="text-white fw-bold w-50">Paling Banyak Disewa</h2>
      </div>
      <div class="scroll-container bg-transparent d-flex gap-3 pb-3 overflow-x-auto hidden-scroll">
          <% products.forEach(product => { %>
        <a href=<%= product.id %> class="col-6 col-md-4 col-lg-2 no-select bg-white">
          <div class="product-card">
            <img src=<%= product.image %> alt=<%= product.name %> class="product-img" />
            <div class="p-3">
              <h3 class="product-title"><%= product.name %></h3>
              <p class="product-price">
                Rp<%= product.pricePerDay.toLocaleString() %><span class="price-period">/hari</span>
              </p>
              <div class="d-flex align-items-center">
                <div class="star-rating me-1">★★★★★</div>
                <span class="rating-count">(11)</span>
              </div>
            </div>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
    <!-- Terlaris Section end -->

    <!-- Rekomendasi Section start -->
    <div>
      <h2 class="section-title">Rekomendasi</h2>
      <div class="row g-3">
        <% products.forEach(product => { %>
        <a href=<%= product.id %> class="col-6 col-md-4 col-lg-2 no-select">
          <div class="product-card">
            <img src=<%= product.image %> alt=<%= product.name %> class="product-img" />
            <div class="p-3">
              <h3 class="product-title"><%= product.name %></h3>
              <p class="product-price">
                Rp<%= product.pricePerDay.toLocaleString() %><span class="price-period">/hari</span>
              </p>
              <div class="d-flex align-items-center">
                <div class="star-rating me-1">★★★★★</div>
                <span class="rating-count">(11)</span>
              </div>
            </div>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
    <!-- Rekomendasi Section end -->
  </div>
  <%- include('./partials/script.ejs') %>
</body>

</html>